@media only screen and (max-width:800px) {
    /* For tablets: */

 
}
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    
    .wrapper {
      padding: 0;
      text-align: center;
    }
    
  header {
    position: relative;
    margin: 0 auto;
    padding-bottom: 1em;
    height: auto;
    animation: none;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    border-radius: 0 0 20px 20px;
  }

  .wrapper .mobile-section {
    display: block;
    position: relative;
    margin: 10px auto;
  }

  #display #aside-terminal {
    display: block;
    position: relative;
    margin: 20px auto;
  }

  .main-content {
    display: block;
    position: relative;
    width: auto;
    text-align: left;
    padding: 1em; 
  }

  .main-content p {
  text-align: center;
  padding: 0.5em;
}

  .main-content iframe {
    width: 100%;
    margin: 0;
  }

  #footer .logos {
    position: relative;
    display: inline-block;
    text-align: center;
    width: auto;
    margin-left: -30px;
    width: 4em;
    height: 4em;
    text-decoration: none;
  }

  .sti-projects, .other-projects {
    display: block;
    position: relative;
    width: auto;
    margin: 20px auto;
  }

  .sti-projects ul li, .other-projects ul li {
    line-height: 1.5;
  }
  .other-projects {
    margin-bottom: -20px;
    
  }

}