
/************************************
-------------------------------------
About this page , contact, 

---Index styles---

1. Wrapper

2. Header

3. Navigation

4. Header

5. Mobile section

6. Aside Section

7. Footer

8. Animation

---myProjects Styles---

-------------------------------------
************************************/

h1,
h2,
h3,
h4,
h5,
h6 
p {
  font-family: "Helvetica", sans-serif;
}

/*--- Index Styles ---*/

.wrapper {
  position: relative;
  padding: 1em 1em;
  text-align: center;
}

header {
  /* Image is from the Unsplash site. Free for download */
  position: relative;
  margin: 0 auto;
  height: 95vh; /* vh = procent of viewport height */
  clip-path: polygon(0 0, 0 100%, 98% 85%, 100% 0);
  border-radius: 20px 0;
  background-image: linear-gradient(rgba(43, 58, 132, 0.5), rgba(50, 158, 253, 0.6)), url(../images/mobile.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  animation: scalebg 6s ease-in-out; 
  overflow: none;

}

/* Navigation*/

nav {display: block;
  position: relative;
  width: 100%;
  margin: 0 auto 0 auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px 20px 0 0;
  border: 1px solid rgba(0, 0, 0);
}

nav h1 { 
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  margin: 15px auto 15px auto;
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: 5px;
  color: white;
}



nav ul li {
  display: inline-block;
  margin: 1em 2em;
  padding: 1em 2em;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 0 10px 0 10px;

}

nav ul li a {
  font-family: 'Poiret One', cursive;
  font-size: 0.8em;
  text-decoration: none;
  letter-spacing: 3px;
  color: white;
}


nav ul li:hover {
  animation: navMenu 1s ease-in;
  animation-fill-mode: forwards;
  border: 1px solid black;
}

/* Mobile section */

.mobile-section {
  display: inline-block;
  position: absolute;
  text-align: center;
  margin-top: 20px;
  margin-left: -290px;
  width: 250px;
  height: 430px;
  font-family: 'Poiret One', cursive;
  background: linear-gradient(rgb(1, 34, 71), rgb(0, 0, 0));
  border: 1px solid white;
  border-radius: 20px;
  animation: movingMobile 7s ease-in-out infinite;
  z-index: 2;
}

.mobile-section #screen-section {
  position: relative;
  margin: 15px auto 4px auto;
  width: 200px;
  height: 280px;
  padding: 1em;
  border-radius: 20px;
  background: linear-gradient(rgb(2, 58, 122), rgb(20, 119, 231));
  border: 2px solid black;
}

.mobile-section #screen-section label { 
  font-weight: 700;
  color:white;
  padding: 2px auto;
}

.mobile-section #screen-section #title, #due-date, #notes, #message-to-user {
  margin: 5px auto;
  font-family: 'Poiret One', cursive;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  width:  190px;
  height: 30px;
}

.mobile-section #screen-section #notes {
  margin: 5px auto 8px auto;
  height: 60px;

}

input[type="range"] {
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}


#message-to-user {
  margin: 0 auto;
  background-color: black;
  color: white;
}

/* Mobile Buttons */
#btn-mobile {
  margin-left: 1em;
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 50%;
 
}

#btn-mobile:hover {
  animation: button-animation 1s ease-in-out;
}


/* Aside section */

#display #aside-terminal {
  display: inline-block;
  margin-top: 20px;
  position: absolute;
  width: 250px;
  height: 410px;
  font-family: 'Quantico', sans-serif;
  font-size: 14px;
  padding: 1em;
  color: rgb(75, 196, 83);
  background-color: rgba(12, 13, 12, 0.7);
  border: 1px solid black;


}

#display #aside-terminal #blinking {
  animation: blinking 1.3s infinite;
}

/* Footer */

footer {display: inline-block;
  align-content: center;
  position: relative;
  margin: 20px auto;
  padding: 1em;
}

footer .logos {
  padding: 2em;
  margin: 15px auto 15px auto;
  width: 5em;
  height: 5em;
  text-decoration: none;
}

footer .logos :hover {
  animation: logos 1s ease-in-out;
}

/* 6.Keyframe Animations. */

@keyframes navMenu {
  0% {opacity: 0.5;
    background: linear-gradient(rgb(2, 58, 122), rgb(20, 119, 231));
  }

  50% {
    transform: scaleX(1.1);
  }


100% {opacity: 1;
  background: linear-gradient(rgb(2, 70, 122), rgb(20, 119, 231));
}
}

@keyframes movingMobile {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

  
  @keyframes button-animation {
    0% {
        transform: rotate(0);
        transform: scale(1.1);
    }

    50% {
        transform: rotate(180deg);
     
        
    }

    100% {
        transform: rotate(0);
        
       
    }
  }

  @keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

@keyframes logos {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1)
  }
}
 
/*--- myProject Styles ---*/

.sti-projects, .other-projects {
  display: inline-block;
  position: relative;
  font-family: 'Nanum Gothic', sans-serif;
  width: 450px;
  padding: 1em;
  margin: 20px auto auto -500px;
  background-color: rgba(12, 13, 12, 0.7);
  border: 1px solid black;
  color: white;

}

.sti-projects h2, .other-projects h2 {
  font-family: 'Red Hat Display', sans-serif;
  color: rgb(75, 196, 83);
}

.sti-projects ul li, .other-projects ul li {
  line-height: 0.6;
  padding: 1em;
}

.sti-projects a, .other-projects a {
  color: white;
  text-decoration: none;
}

.other-projects {position: absolute;
  margin: 20px auto auto 20px;
  
}
.other-projects ul li {
  line-height: 1;
}

/* Main Content*/

.main-content {
  font-family: 'Red Hat Display', sans-serif;
  margin: 10px auto;
  width: 560px;
}

.main-content h3 {
  padding: 1em;
}

.main-content #project-title {
  color: black;
}

.main-content article p {
  font-family: 'Red Hat Display', sans-serif;
  padding: 1em;
}

