
/************************************
-------------------------------------
About this page , contact, 


1. Wrapper

2. Header

3. Navigation

4. Header

5. Mobile section

5. Animations

-------------------------------------
************************************/

h1,
h2,
h3,
h4,
h5,
h6 
p {
  font-family: "Helvetica", sans-serif;
}

.wrapper {
  position: relative;
  padding: 1em 1em;
  text-align: center;
}

header {
  /* Image is from the Unsplash site. Free for download */
  position: relative;
  margin: 0 auto;
  height: 95vh; /* vh = procent of viewport height */
  clip-path: polygon(0 0, 0 100%, 98% 85%, 100% 0);
  border-radius: 20px 0;
  background-image: linear-gradient(rgba(43, 58, 132, 0.6), rgba(50, 158, 253, 0.5)), url(../images/mobile.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  animation: scalebg 6s ease-in-out; 
  overflow: none;

}

/* Navigation*/

nav {
  position: absolute;
  width: 100%;
  margin: 0 auto 0 auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px 20px 0 0;
  border: 1px solid rgba(0, 0, 0);
}

nav h1 { 
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  margin: 15px auto 15px auto;
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: 5px;
  color: white;
}



nav ul li {
  display: inline-block;
  margin: 1em 2em;
  padding: 1em 2em;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 0 10px 0 10px;

}

nav ul li a {
  font-family: 'Poiret One', cursive;
  font-size: 0.8em;
  text-decoration: none;
  letter-spacing: 3px;
  color: white;
}

nav ul .logos {
  margin-top: 1em;
  align-items: center;
  width: 3.5em;
  height: 3.5em;
}



nav ul li:hover {
  animation: logos 1s ease-in;
  animation-fill-mode: forwards;
  border: 1px solid black;
}

/* Mobile section */

.mobile-section {
  display: block;
  position: absolute;
  margin: 120px auto auto 180px;
  width: 250px;
  height: 430px;
  background: linear-gradient(rgb(1, 34, 71), rgb(0, 0, 0));
  border: 1px solid white;
  border-radius: 20px;
  animation: movingMobile 7s ease-in-out infinite;
}

.mobile-section #screen-section {
  position: relative;
  margin: 15px auto 4px auto;
  width: 200px;
  height: 280px;
  padding: 1em;
  border-radius: 20px;
  background: linear-gradient(rgb(2, 58, 122), rgb(20, 119, 231));
  border: 2px solid black;
}

.mobile-section #screen-section label {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  color:white;
  padding: 2px auto;
}

.mobile-section #screen-section #title, #due-date, #notes, #message-to-user {
  margin: 5px auto;
  font-family: 'Poiret One', cursive;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  width:  190px;
  height: 30px;
}

.mobile-section #screen-section #notes {
  margin: 5px auto 8px auto;
  height: 60px;

}

#message-to-user {
  margin: 0 auto;
  background-color: black;
  color: white;
}

/* Mobile Buttons */
#btn-mobile {
  margin-left: 1em;
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 50%;
 
}

#btn-mobile:hover {
  animation: button-animation 1s ease-in-out;
}


/* Aside section */

#display #aside-items {
  position: absolute;
  margin: 120px auto auto 500px;
  width: 650px;
  height: 430px;
  font-family: 'Poiret One', cursive;
  padding: 1em;
  color: white
}

/* 6.Keyframe Animations. */

@keyframes logos {
  0% {opacity: 0.5;
    background: linear-gradient(rgb(2, 58, 122), rgb(20, 119, 231));
  }

  50% {
    transform: scaleX(1.1);
  }


100% {opacity: 1;
  background: linear-gradient(rgb(2, 70, 122), rgb(20, 119, 231));
}
}

@keyframes movingMobile {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

  
  @keyframes button-animation {
    0% {
        transform: rotate(0);
        transform: scale(1.1);
    }

    50% {
        transform: rotate(180deg);
     
        
    }

    100% {
        transform: rotate(0);
        
       
    }
  }
 


 